<template>
  <div id="purchase">
    <div class="purchase__title-wrapper">
      <h2 class="purchase__title">
        二步驟 <br />
        打造專屬殼
      </h2>
    </div>
    <!-- 手機殼顯示區 -->
    <div class="display__area">
      <section class="purchase__preview">
        <div class="purchase__preview-images-wrapper">
          <img
            :src="selectItems.phone.image"
            alt=""
            class="purchase__preview-image main"
          />
          <img
            :src="selectItems.outsideFrame.image"
            alt=""
            class="purchase__preview-image sub case"
          />
          <img
            v-if="!model"
            :src="selectItems.trim.image"
            alt=""
            class="
              purchase__preview-image
              sub
              rim
              purchase__preview-image--backward
            "
          />
          <img
            v-else
            :src="selectItems.backplane.image"
            alt=""
            class="
              purchase__preview-image
              sub
              rim
              purchase__preview-image--backward
            "
          />
          <img
            :src="selectItems.button.image"
            alt=""
            class="purchase__preview-image sub button"
          />
          <img
            v-if="!model"
            :src="selectItems.backplane.image"
            alt=""
            class="purchase__preview-image sub backplate"
          />
          <img
            v-else
            :src="selectItems.trim.image"
            alt=""
            class="purchase__preview-image sub backplate"
          />
        </div>
        <div class="purchase__selector-wrapper phone">
          <div class="color-container">
            <p class="color-picker-title">裝置<br />顏色</p>
            <div
              v-if="product.phone"
              class="normal color-picker color-picker--vertical"
            >
              <div
                :id="item.title"
                v-for="item in product.phone.variants"
                :key="item.id"
                class="color-picker--vertical__option active"
              >
                <div
                  class="dot"
                  :class="item.title"
                  @click="changeColor(item, 'phone')"
                ></div>
              </div>
            </div>
          </div>
        </div>
        <div class="purchase__backplate-switch-wrapper">
          <div class="backplate-switch light">
            <section class="backplate-switch__common">
              <div class="backplate-switch__option">
                <div
                  class="
                    backplate-switch__checkbox
                    backplate-switch__mode-name--active
                  "
                ></div>
                <p class="backplate-switch__mode-name" @click="model = false">
                  背板模式
                </p>
              </div>
              <div class="backplate-switch__option">
                <div class="backplate-switch__checkbox"></div>
                <p class="backplate-switch__mode-name" @click="model = true">
                  邊框模式
                </p>
              </div>
            </section>
          </div>
        </div>
      </section>
    </div>
    <!-- 型號/顏色顯示區 -->
    <div class="selection__area">
      <div class="selection__area__top">
        <div class="device__selector">
          <select name="" id="device" v-model="device">
            <option value="iPhone-12-Pro-Max">iPhone 12 Pro Max</option>
            <option value="iPhone-12-Pro">iPhone 12 Pro</option>
            <option value="iPhone-12">iPhone 12</option>
          </select>
        </div>

        <div class="outward">
          <div class="option__block">
            <div class="option__title">手機殼顏色</div>
            <div
              v-if="!outsideFrameColor"
              class="icon"
              @click="outsideFrameColor = true"
            ></div>
            <div
              v-else
              class="icon__open"
              @click="outsideFrameColor = false"
            ></div>
            <div
              v-if="outsideFrameColor && product.outsideFrame"
              class="normal color-picker color-picker--standard"
            >
              <div
                v-for="item in product.outsideFrame.variants"
                :key="item.id"
                class="color-picker--standard__option active"
              >
                <div
                  class="dot"
                  :class="colorClass(item.title)"
                  @click="changeColor(item, 'outsideFrame')"
                ></div>
              </div>
            </div>
          </div>
          <div class="option__block">
            <p class="option__title">背板樣式</p>
            <div
              v-if="!backplaneStyle"
              class="icon"
              @click="backplaneStyle = true"
            ></div>
            <div
              v-else
              class="icon__open"
              @click="backplaneStyle = false"
            ></div>
            <div
              v-if="backplaneStyle && product.backplane"
              class="normal color-picker color-picker--standard"
            >
              <div
                v-for="item in product.backplane.variants"
                :key="item.id"
                class="color-picker--standard__option active"
              >
                <div
                  class="dot"
                  :class="styleClass(item.title)"
                  @click="changeColor(item, 'backplane')"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="checkout">
        <div class="checkout__detail">
          <p class="checkout__detail__info">產品包含:</p>
          <p class="checkout__detail__info">
            手機殼外框 ({{ selectItems.outsideFrame.optionsWithKey.Color }}) x 1
          </p>
          <p class="checkout__detail__info">
            按鍵 ({{ selectItems.button.optionsWithKey.color }}) x 1
          </p>
          <p class="checkout__detail__info">
            背板 ({{ selectItems.backplane.optionsWithKey.color }}) x 1
          </p>
          <p class="checkout__detail__info">
            飾條 ({{ selectItems.trim.optionsWithKey.color }}) x 1
          </p>
        </div>
        <div class="checkout__button__block">
          <button class="checkout__btn" @click="addToCart">加入購物車</button>
          <p class="price">${{ total }} TWD</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {},
  props: {},
  data() {
    return {
      cartItems: [],
      selectItems: {},
      allProduct: [],
      device: "iPhone-12-Pro-Max",
      product: {},
      // device: bind select
      model: false,
      outsideFrameColor: false,
      backplaneStyle: false,
    };
  },
  computed: {
    total() {
      const data = this.selectItems;
      return (
        Number(data.backplane.price) +
        Number(data.outsideFrame.price) +
        Number(data.button.price) +
        Number(data.trim.price)
      );
    },
  },
  watch: {
    device(device) {
      this.filterDeviceData(device);
    },
  },
  mounted() {
    this.fetchProductData();
  },
  methods: {
    fetchProductData() {
      // TODO
      // Call API 抓取產品資料並依產品類型分類。
      // API URL : http://localhost:3000/mod-nx
      fetch("http://localhost:3000/mod-nx")
        .then((res) => res.json())
        .catch((error) => console.error("Error:", error))
        .then((response) => {
          this.allProduct = response.data;
          this.filterDeviceData(this.device);
        });
    },
    filterDeviceData(device) {
      const searchText1 = device.replace(/-/g, " ") + " -";
      const searchText2 = device.replace(/-/g, " ") + " 犀";
      const data = this.allProduct.filter(
        (x) =>
          x.title.indexOf(searchText1) > -1 || x.title.indexOf(searchText2) > -1
      );
      this.product = {
        backplane: data[data.findIndex((x) => x.title.indexOf("(背板)") > -1)],
        outsideFrame:
          data[data.findIndex((x) => x.title.indexOf("(外框)") > -1)],
        button: data[data.findIndex((x) => x.title.indexOf("(按鈕)") > -1)],
        phone: data[data.findIndex((x) => x.title.indexOf("(手機)") > -1)],
        trim: data[data.findIndex((x) => x.title.indexOf("(飾條)") > -1)],
        transparentBackplane:
          data[data.findIndex((x) => x.title.indexOf("透明背板") > -1)],
      };
      this.selectItems = {
        backplane: this.product.backplane.variants[0],
        outsideFrame: this.product.outsideFrame.variants[0],
        button: this.product.button.variants[0],
        phone: this.product.phone.variants[0],
        trim: this.product.trim.variants[0],
      };
    },
    changeColor(item, type) {
      this.selectItems[type] = item;
    },
    colorClass(string) {
      const result = string.split(" / - / ")[0].toLowerCase().replace(" ", "_");
      return result;
    },
    styleClass(string) {
      const result = string.split(" / ")[0];
      return result;
    },
    addToCart() {
      // TODO
      // 把選取的產品加到 cartItems 裡面並 console 出來
      this.cartItems = [
        `手機殼外框 (${this.selectItems.outsideFrame.optionsWithKey.Color}) x 1`,
        `按鍵 (${this.selectItems.button.optionsWithKey.color}) x 1`,
        `背板 (${this.selectItems.backplane.optionsWithKey.color}) x 1`,
        `飾條 (${this.selectItems.trim.optionsWithKey.color}) x 1`,
      ];
      console.log(this.cartItems);
    },
  },
};
</script>

<style lang="sass" scoped>
@font-face
  font-family: MarkPro-Bold
  src: url('https://cdn.shopify.com/s/files/1/0274/8717/files/MarkPro-Bold.otf?12401685184872946130')

@font-face
  font-family: NotoSansCJKtc-Bold
  src: url('https://cdn.shopify.com/s/files/1/0274/8717/files/NotoSansCJKtc-Bold.otf?12610878586689504297')

@font-face
  font-family: MarkPro
  src: url('https://cdn.shopify.com/s/files/1/0274/8717/files/MarkPro.otf?4269257120200746974')

@font-face
  font-family: NotoSansCJKtc-Regular
  src: url(https://cdn.shopify.com/s/files/1/0274/8717/files/NotoSansCJKtc-Regular.otf?4935245772218057441)

#purchase
  position: relative
  width: 100%
  height: 100%
  max-width: 1440px
  display: flex
  padding: 120px 60px
  align-items: flex-start
  justify-content: space-between
  box-sizing: border-box

.purchase__title-wrapper
  width: 25%
  max-width: 220px

.display__area
  height: 100%

.selection__area
  display: flex
  flex-direction: column
  justify-content: space-between
  align-self: stretch
  margin-left: 70px
  width: 35%
  max-width: 260px

  .device__selector
    margin-bottom: 25px

  .checkout

    &__detail
      font-family: 'MarkPro', 'NotoSansCJKtc-Regular'

      &__info
        margin: 15px 0
        padding: 0
        line-height: 14px
        font-size: 14px
        text-align: left

    &__button__block
      display: flex
      justify-content: space-between
      align-items: center
      font-family: 'MarkPro-Bold', 'NotoSansCJKtc-Bold'

      .price
        font-size: 14px
        text-algin: right

    &__btn
      display: flex
      justify-content: center
      align-items: center
      width: 100%
      height: 40px
      max-width: 180px
      color: #FFF
      // font-family: 'MarkPro-Bold', 'NotoSansCJKtc-Bold'
      box-shadow: none
      border: none
      border-radius: 20.5px
      background-color: #2D2D2D
      transition: all .3s ease
      white-space: inherit

  .outward
    border-top: 2px solid #D8D8D8

  .option__block
    position: relative
    text-align: start
    padding: 20px 0
    border-bottom: 1px solid #D8D8D8

    .option__title
      font-size: 14px
      font-family: 'MarkPro', 'NotoSansCJKtc-Regular'
      color: #2D2D2D

    .icon
      position: absolute
      right: 0
      top: 50%
      width: 16px
      height: 16px
      transform: translateY(-50%)
      cursor: pointer

      &::before
        content: ''
        position: absolute
        left: 0
        width: 1px
        height: 16px
        background-color: #D8D8D8
        transform: rotate(90deg)
        transition: all .3s ease

      &::after
        content: ''
        position: absolute
        left: 0
        width: 1px
        height: 16px
        background-color: #D8D8D8
        transition: all .3s ease

    .icon__open
      position: absolute
      right: 0
      width: 16px
      height: 16px
      transform: translateY(-100%)
      cursor: pointer

      &::before
        content: ''
        position: absolute
        left: 0
        width: 1px
        height: 16px
        background-color: #D8D8D8
        transform: rotate(90deg)
        transition: all .3s ease

    p
      margin: 0
      padding: 0

.purchase__preview
  position: relative
  margin: 0 auto
  width: 100%
  max-width: 650px
  height: 100%
  &-images-wrapper
    position: relative
    height: 80%
  &-image
    &.main
      position: relative
      height: 100%
      z-index: 2
    &.sub
      position: absolute
      height: 100%
      top: 0
      left: 0
    &--backward
      z-index: 1
      transition: all .3s
      transform: translate(12%,-10%)
    &.case
      z-index: 3
    &.backplate
      z-index: 2

.purchase__selector-wrapper
  &.phone
    position: absolute
    top: 50%
    left: 25%
    transform: translateY(-50%)
    z-index: 3

.purchase__backplate-switch-wrapper
  position: absolute
  top: 50px
  right: 0
  z-index: 3

.backplate-switch
  &__option
    cursor: pointer

.color-picker-title
  position: absolute
  top: 0
  right: 0
  margin: 0
  font-size: 12px
  color: #000
  line-height: normal
  text-transform: uppercase
  transform: translateY(-120%)
  opacity: .2

.color-picker--vertical
  display: flex
  align-items: center
  justify-content: flex-start
  flex-direction: column
  --desc-text-width: 150px
  --desc-dash-width: 16px
  --desc-dash-margin: 13px

  &.normal
    --border-color: #d5d5d5
    --hover-border: #d5d5d5
    --dash-color: #d8d8d8
    --font-color: #2d2d2d

  &__option
    position: relative
    width: 29px
    height: 29px
    border: 1px solid transparent
    border-radius: 50%
    z-index: 200
    transition: all .3s ease
    margin-bottom: 18px
    display: flex
    align-items: center
    justify-content: center
    &:hover
      border: 1px solid var(--hover-border)
    .active, .dot
      width: 23px
      height: 23px
    .dot
      border: 1px solid var(--border-color)
      border-radius: 50%
      cursor: pointer

.color-picker--standard
  display: flex
  align-items: center
  justify-content: flex-start
  flex-wrap: wrap
  margin-top: 10px
  --desc-text-width: 150px
  --desc-dash-width: 16px
  --desc-dash-margin: 13px

  &.normal
    --border-color: #d5d5d5
    --hover-border: #d5d5d5
    --dash-color: #d8d8d8
    --font-color: #2d2d2d

  &__option
    position: relative
    width: 15px
    height: 15px
    border: 1px solid transparent
    border-radius: 50%
    z-index: 200
    transition: all .3s ease
    display: flex
    align-items: center
    justify-content: center
    &:hover
      border: 1px solid var(--hover-border)
    .active, .dot
      width: 11px
      height: 11px
    .dot
      border: 1px solid var(--border-color)
      border-radius: 50%
      cursor: pointer

.checkout__btn
  cursor: pointer

.apple_graphite
  background-color: #686763

.silver
  background-color: #c9c8c9

.gold
  background-color: #fadcc2

.pacific_blue
  background-color: #43616c

.black,.Black
  background-color: #383636

.white,.White
  background-color: #ffffff

.green,.Green
  background-color: #60b287

.red,.Red
  background-color: #dc5455

.blue,.Blue
  background-color: #2a7ca0

.pacific_blue
  background-color: #43616c

.apple_graphite,.AppleGraphite
  background-color: #686763

.Silver
  background-color: rgb(201, 200, 201)

.Gold
  background-color: rgb(206, 190, 134)

.pacific_blue,.PacificBlue
  background-color: #43616c

.graphite,.Graphite
  background-color: #4f4f47

.blush-pink,.blush_pink
  background-color: #f2d1cb

.platinum-gray,.platinum_gray
  background-color: #afb4b0

.yellow,.Yellow
  background-color: #ffe568

.lavender,.Lavender
  background-color: #9390a7

.camo-green,.camo_green
  background-color: #505e31

.royal-blue,.royal_blue
  background-color: #255774

.NavyBlue,.navy_blue
  background-color: #385672
</style>
